<style>
    body {
        margin: 0;
    }
</style>
<img id="screen" src="https://placehold.co/600x400" style="width: 100vw; height: auto;" draggable="false"></img>
<script>
    var resolution=[0,0]
    async function fetchAndReplaceImage(i) {
            try {
                const response = await fetch(ip.Value()+"?key=Test123@"+"&q="+String(i));
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const blob = await response.blob();
                const imageUrl = URL.createObjectURL(blob);
                const imgElement = document.getElementById("screen");
                const tempImg = new Image();
                tempImg.src = imageUrl;
                tempImg.onload = function() {
                    resolution=[tempImg.width, tempImg.height]
                };
                imgElement.src = imageUrl;
            } catch (error) {
                console.error('There has been a problem with your fetch operation:', error);
                throw error
            }
    }
    (async ()=>{
        var i=0
        while (true) {
            i+=1
            try {
                await fetchAndReplaceImage(i)
            } catch {
                break
            }
        }
    })()
    var lastMouse=true
    document.getElementById("screen").addEventListener("mousemove", ()=>{
        if (document.getElementById("screen").src!="https://placehold.co/600x400" && lastMouse) {
            const rect = document.getElementById("screen").getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;
            const widthRatio = resolution[0] / rect.width;
            const heightRatio = resolution[1] / rect.height;
            const originalX = Math.round(x * widthRatio);
            const originalY = Math.round(y * heightRatio);
            lastMouse=false
            fetch(ip.Value()+"/mouse?key=Test123@&x="+String(originalX)+"&y="+String(originalY)).then(()=>{
                lastMouse=true
            })
        }
    })
</script>

<script href="index.js"></script>